@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.1.5/css/lightgallery-bundle.min.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.1.5/css/lg-video.css");

$dark-blue: #22356D;
$light-blue: #69dfe2;

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: $dark-blue;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .general {
        width: 50%;
        margin: 0 auto;

        @media (max-width: 1200px) {
            width: calc(100% - 25px);
        }

        .logo {
            text-align: center;

            img {
                height: 200px;
            }
        }

        .menu ul {
            display: flex;
            justify-content: center;
            list-style: none;
            flex-wrap: wrap;
            padding: 0;

            li {
                margin: 0 2px;
                text-transform: uppercase;

                &.insite {
                    border: 2px solid $light-blue;
                    padding: 1em 2em;

                    &:hover {
                        background-color: transparent;
                    }
                }

                &:hover {
                    background-color: #122049;
                }

                a {
                    display: block;
                    padding: 1em 2em;
                    text-decoration: none;
                    color: white;
                }
            }
        }

        .standings {
            .row {
                display: flex;
                margin: 1px 0;
                border-bottom: 1px solid $light-blue;

                &:last-of-type {
                    border-bottom: none;
                }

                .position {
                    width: 10%;
                }

                .name {
                    text-transform: uppercase;
                    width: 70%;
                }

                .results {
                    width: 10%;
                }

                .points {
                    width: 10%;
                }
            }
        }

        .matches {
            .row {
                display: flex;
                margin: 10px 0;
                flex-wrap: wrap;
                justify-content: center;
                border: 1px solid $light-blue;

                .datetime {
                    width: calc(100% - 2px);
                    border-bottom: 1px solid $light-blue;
                }

                .match-teams {
                    width: calc(30% - 2px);
                    border-right: 1px solid $light-blue;

                    @media (max-width: 1200px) {
                        width: calc(80% - 2px);
                    }

                    &.next, &.preseason {
                        border-right: none;
                    }
                }

                .match-points {
                    width: calc(12% - 2px);
                    border-right: 1px solid $light-blue;

                    @media (max-width: 1200px) {
                        width: calc(20% - 2px);
                        border-right: none;
                    }
                }

                .match-sets {
                    display: flex;
                    flex-wrap: wrap;
                    width: calc(58% - 2px);

                    @media (max-width: 1200px) {
                        width: calc(80% - 2px);
                    }

                    div {
                        width: calc(100% / 3 - 2px);
                    }

                    .set1-head, .set1, .set2-head, .set2 {
                        border-right: 1px solid $light-blue;
                    }
                }

                .sets {
                    width: 100%;
                }


                .score1, .score2 {
                    width: 5%;
                    padding: 0 3px;
                }
            }
        }

        .teams {
            display: flex;
            flex-wrap: wrap;

            .team {
                width: 33%;

                img {
                    max-width: 100%;
                    max-height: 500px;

                    @media (max-width: 1200px) {
                        max-width: 100%;
                    }
                }

                @media (max-width: 1200px) {
                    width: 100%;
                }
            }
        }

        .videos .category {
            display: flex;
            flex-wrap: wrap;

            h2 {
                width: 100%;
            }

            .video {
                width: calc(33% - 10px);
                padding: 0 5px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                @media (max-width: 1200px) {
                    width: 100%;
                    text-align: center;
                }

                .thumb img {
                    width: 100%;
                    cursor: pointer;

                    @media (max-width: 1200px) {
                        height: 20vh;
                        width: auto;
                    }
                }

                .name, .description {
                    width: 100%;
                }

                .name {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
}
