<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title><%= current_page.data.title || "Middleman" %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="content">
      <div class="general">
        <div class="logo">
          <img src="/images/TABPL.png" alt="TABPL" />
        </div>
        <nav class="menu">
          <ul>
            <% data.menu.each do |item, item_details| %>
            <li id='<%= item_details.slug %>-menu' <% if item_details.slug == current_page.data.slug %>class='insite'<% end %>><% if item_details.slug != current_page.data.slug %><a href='<%= item_details.link %>'><%= item %></a><% else %><%= item %><% end %></li>
            <% end %>
          </ul>
        </nav>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
