---
title: Equipos - The Awesome Brochachitos Padel League
layout: main_layout
slug: equipos
---

<div>
  <h2>Equipos</h2>
  <div class="teams">
    <% data.standings.each do |team| %>
        <div class="team center">
            <h4><%= team.name %></h4>
            <div><img src="/images/<%= team.image %>" alt="<%= team.name %>" srcset=""></div>
            <div><%= team.members %></div>
            <div><%= team.description %></div>
        </div>
    <% end %>
  </div>
</div>