---
title: The Awesome Brochachitos Padel League
layout: main_layout
slug: index
---

<div class="news">
  <h4>Noticias</h4>
  <% data.news.first(3).each do |new_item| %>
    <div class="new">
      <div class="date"><%= new_item.date %></div>
      <div class="header"><%= new_item.heading %></div>
    </div>
  <% end %>
</div>
<div class="standings">
  <h4>Clasificación</h4>
  <% data.standings.sort_by { |k| -k['points'] }.each_with_index do |team, position| %>
    <div class="row">
      <div class="position center"><%= position + 1 %></div>
      <div class="name"><%= team.name %></div>
      <div class="results center"><%= team.results %></div>
      <div class="points center"><%= team.points %></div>
    </div>
  <% end %>
</div>
<div class="matches">
  <h4>Últimos 3 Partidos</h4>
  <% data.matches.select{|item| item['set1'] != ''}.last(3).each do |match| %>
    <div class="row">
      <div class="datetime center">J<%= match.week %> <%= match.datetime %></div>
      <div class="match-teams">
        <div class="team1 center"><%= match.team1 %></div>
        <div class="vs center">VS</div>
        <div class="team2 center"><%= match.team2 %></div>
      </div>
      <div class="match-points">
        <div class="team1 center"><%= match.pointsTeam1 %>&nbsp;</div>
        <div class="vs center">PTOS</div>
        <div class="team2 center"><%= match.pointsTeam2 %>&nbsp;</div>
      </div>
      <div class="match-sets">
        <div class="set1-head center">SET 1</div>
        <div class="set2-head center">SET 2</div>
        <div class="set3-head center">SET 3</div>
        <div class="set1 center"><%= match.set1 %></div>
        <div class="set2 center"><%= match.set2 %></div>
        <div class="set3 center"><%= match.set3 %></div>
      </div>
    </div>
  <% end %>
  <h4>Próximos 3 Partidos</h4>
  <% data.matches.select{|item| item['set1'] == ''}.first(3).each do |match| %>
    <div class="row">
      <div class="datetime center">J<%= match.week %> <%= match.datetime %></div>
      <div class="match-teams next">
        <div class="team1 center"><%= match.team1 %></div>
        <div class="vs center">VS</div>
        <div class="team2 center"><%= match.team2 %></div>
      </div>
    </div>
  <% end %>
</div>