---
title: Noticias - The Awesome Brochachitos Padel League
layout: main_layout
slug: noticias
---

<div class="news">
  <h2>Noticias</h2>
  <% data.news.first(3).each do |new_item| %>
    <div class="new">
      <div class="date"><%= new_item.date %></div>
      <div class="header"><%= new_item.heading %></div>
    </div>
  <% end %>
</div>