---
title: Partidos de Pretemporada - The Awesome Brochachitos Padel League
layout: main_layout
slug: partidos-pretemporada
---

<div class="matches">
  <h2>Partidos de Pretemporada</h2>
  <% data.preseason.each do |match| %>
    <div class="row">
      <div class="datetime center"><%= match.datetime %></div>
      <div class="match-teams preseason">
        <div class="team1 center"><%= match.team1 %></div>
        <div class="vs center">VS</div>
        <div class="team2 center"><%= match.team2 %></div>
      </div>
      <div class="match-sets">
        <div class="set1-head center">SET 1</div>
        <div class="set2-head center">SET 2</div>
        <div class="set3-head center">SET 3</div>
        <div class="set1 center"><%= match.set1 %></div>
        <div class="set2 center"><%= match.set2 %></div>
        <div class="set3 center"><%= match.set3 %></div>
      </div>
    </div>
  <% end %>
</div>