---
title: Partidos - The Awesome Brochachitos Padel League
layout: main_layout
slug: partidos
---

<div class="matches">
  <h2>Partidos</h2>
  <% data.matches.each do |match| %>
    <div class="row">
      <div class="datetime center">J<%= match.week %> <%= match.datetime %></div>
      <div class="match-teams">
        <div class="team1 center"><%= match.team1 %></div>
        <div class="vs center">VS</div>
        <div class="team2 center"><%= match.team2 %></div>
      </div>
      <div class="match-points">
        <div class="team1 center"><%= match.pointsTeam1 %>&nbsp;</div>
        <div class="vs center">PTOS</div>
        <div class="team2 center"><%= match.pointsTeam2 %>&nbsp;</div>
      </div>
      <div class="match-sets">
        <div class="set1-head center">SET 1</div>
        <div class="set2-head center">SET 2</div>
        <div class="set3-head center">SET 3</div>
        <div class="set1 center"><%= match.set1 %></div>
        <div class="set2 center"><%= match.set2 %></div>
        <div class="set3 center"><%= match.set3 %></div>
      </div>
    </div>
  <% end %>
</div>