---
title: Preguntas - The Awesome Brochachitos Padel League
layout: main_layout
slug: preguntas
---

<div>
  <ul>
    <li>Cual creeis que es tu rival a batir en la liga?</li>
    <li>Como llevas la presion de ser el equipo/jugador favorito de la liga/equipo?</li>
    <li>Como de importante es la dieta en tu preparacion? Y la cerveza?</li>
    <li>Cuando te diste cuenta de que no valias para jugar al tenis y te metiste al padel?</li>
    <li>Cual es tu objetivo o posicion en la liga?</li>
    <li>Como cuidas tu pala en el dia a dia?</li>
    <li>Cual crees que es tu mejor golpe?</li>
    <li>Preguntas rápidas, tienes 3 segundos para responder a cada pregunta: <ul>
      <li>Numero de bolas que David Ninja va a colar</li>
      <li>Numero de veces que David Salgado va a llegar tarde</li>
      <li>Describe en una palabra al equipo de Pretty Boys (Aser y Carlos)</li>
      <li>Que es mas duro, tu pala o el cuello de Cgoob</li>
      <li>Cuantas veces crees que Yeu va a insultar en el partido a la bola</li>
      <li>Quien crees que es la persona que mas excusas pone cuando falla un golpe</li>
      <li>Cuantas veces crees que Mora se va a caer o tirar al suelo</li>
      <li>Quien crees que se va a llevar el primer MVP de estilo</li>
      <li>Quien llama a quien</li>
    </ul></li>
    <li>Puntuacion de equipo: <ul>
      <li>Saque</li>
      <li>Globo</li>
      <li>Volea</li>
      <li>Remate</li>
      <li>Outfit</li>
    </ul></li>
  </ul>
</div>