---
title: Reglamento - The Awesome Brochachitos Padel League
layout: main_layout
slug: reglamento
---

<div>
  <h2>Reglamento</h2>
  <ol>
    <li>Los partidos son al mejor de 3. Se juegan con iguales y ventaja.</li>
    <li>Cada equipo puntúa tantos puntos como juegos haya ganado. El ganador del partido recibirá 3 puntos adicionales.</li>
    <li>Los equipos que no jueguen el partido entre las fechas límite, recibirán 6 puntos cada uno.</li>
    <li>Si algún jugador no puede jugar su partido, el equipo podrá elegir un jugador sustituto que participe en la liga. Los puntos recibidos por el equipo se mantendrán en dicho equipo.</li>
    <li>La fecha limite de las siguiente jornada viene determinada por cada equipo de cada partido. Un partido de la siguiente jornada tendra de fecha limite la fecha mas tardia del partido de la jornada anterior de los dos equipos mas 15 dias. Por ejemplo, si equipo A y equipo B tienen un partido en la siguiente jornada, y equipo A termina el dia 2 y el equipo B el dia 4, el partido entre equipo A y B tendra que ser disputado antes del dia 19 (4 + 15 dias).</li>
    <li>La fecha y hora establecida para la jornada es inamovible una vez anunciada. Dicha fecha y hora solo podra ser modificada explicitamente por ambas partes. El partido podrá tener como maximo 10 minutos de espera si alguna de los integrantes de las parejas llegase tarde. El retraso de uno de los participantes del partido dara la victoria al otro equipo, transfiriendose 6 puntos desde el equipo que ha llegado tarde al equipo que ha llegado a tiempo.</li>
  </ol>
</div>