---
title: Vídeos - The Awesome Brochachitos Padel League
layout: main_layout
slug: videos
---

<div class="videos">
  <h2>Vídeos</h2>
  <% data.videos.each do |category, videos| %>
    <div class="category">
        <h2><%= category %></h2>
        <% videos.each do |video| %>
            <div class="video">
              <div class="thumb" data-video='{"source": [{"src":"<%= video.file %>", "type":"video/mp4"}], "attributes": {"preload": false, "autoplay": true, "controls": true}}'>
                <img src="<%= video.thumb %>" alt="<%= video.name %>" />
              </div>
              <p class="name center"><%= video.name %></p>
              <p class="description"><%= video.description %></p>
            </div>
        <% end %>
    </div>
  <% end %>
</div>

<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.1.5/lightgallery.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.1.5/plugins/video/lg-video.min.js"></script>

<script>
    const gallery = lightGallery(document.getElementsByClassName('videos')[0], {
        plugins: [lgVideo],
        selector: '.video .thumb',
        speed: 500,
        preload: 0,
        mobileSettings: {
            controls: false,
            showCloseIcon: true,
            download: false,
        },
    });
</script>